/*Farben*/
$main_color: #fff;
$secend_color: #000;

$main_text_color: #fff;
$secend_text_color: #000;


/* Text config */
$text_groese_k: 0.5rem;
$text_groese_m: 1rem;
$text_groese_g: 2rem;

$text_gewicht: 600;
$text_gewicht_k: 300;
$text_gewicht_m: 600;
$text_gewicht_g: 900;

/*Bildschirm Auflösungen */
$sm: 320px;
$m: 481px
$xl: 769px
$xl:1025px;
$xxl: 1200px;
